:root {
    --global_buttons-height: 34px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

.content__card-link {
    text-decoration: none;
    color: #ffffff;
}

ul,
ol {
    list-style: none;
}

img, video {
    width: 100%;
    object-fit: fill;
    object-position: center;
}

button {
    font-family: Fira Sans Condensed, sans-serif;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 30px;
}

.result__video-container {
    width: 711px;
    grid-area: video-container;
    position: relative;
}

.content__list {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 390px;
    height: 298px;
    gap: 30px;
}

.preloader {
    position: absolute;
}

.content__details {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
}

.title {
    height: 210px;
    font-family: Oswald, serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 71px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    word-spacing: 2px;
}

.content__accent {
    font-family: Oswald, serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 70.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #545050;
}

.more-button {
    width: 100%;
    height: var(--global_buttons-height);
}

.search-form__submit-button {
    flex-grow: 1;
    height: var(--global_buttons-height);
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    gap: 0;
}

.content__video-card-title {
    width: 196px;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.content__video-card-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.content__video-card-thumbnail {
    width: 390px;
    height: 103px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content__video-card-description-container {
    flex-grow: 1;
}

.search-form__fieldset-title {
    font-family: Fira Sans, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 0;
}

.search-form__label-text {
    font-family: Fira Sans Condensed, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.search-form__label-text:hover {
    text-decoration: underline;
}

.search-form__label:focus-within {
    outline: 1px solid #ffffff;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.search-form__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 5px;
}

.search-form__checkbox-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 212px;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.search-form__pseudo-checkbox::after {
    content: '';
    display: none;
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    border: 1px solid black;
}

.search-form__textfield {
    font-family: Fira Sans Condensed, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: transparent;
    appearance: none;
    border: 1px solid #ffffff;
    border-right: 0px;
    border-left: 0px;
    color: white;
}

.search-form__textfield:focus-visible {
    outline: 1px solid #ffffff;
    outline-offset: 2px;
}


/*.search-form__textfield:active {*/
/*    border: 1px solid #ffffff;*/
/*    outline: none;*/
/*    outline-offset: 0px;*/
/*}*/


.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    display: inline-block;
}

.button:hover {
    text-decoration: underline;
}

.content__list-item:focus {
    outline: 1px solid #ffffff;
    outline-offset: 10px;
}

.search-form__submit-button:focus, search-form__submit-button:focus {
    outline: 1px solid #ffffff;
    outline-offset: 2px;
}

.search-form__submit-button:active {
    background-color: #545050;
}

.content__list-item:active {
    background-color: #545050;
}

